# Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#  Data Loading and Inspection



> Load the Titanic dataset and display basic information to understand the structure and data types, as well as summary statistics to get an overview of the data.

In [2]:
# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

In [3]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Data Cleaning



> Handle missing values by filling or dropping columns. The median fills in missing ages, the mode fills in missing embarkations, and columns with too many missing values are removed.

In [17]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [21]:
titanic['age'].fillna(titanic['age'].median(),inplace=True)
titanic['embarked'].fillna(titanic['embarked'].mode(),inplace=True)
titanic['embark_town'].fillna(titanic['embark_town'].mode(),inplace=True)

In [20]:
titanic.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [16]:
titanic['age'][51]

np.float64(21.0)

# Exploratory Data Analysis (EDA)

Distribution of passenger ages



> Visualize the age distribution of passengers to understand the age range and identify common age groups using a histogram.

Survival count by gender



> A count plot shows the survival distribution based on gender, indicating which gender had a higher survival rate.

Correlation matrix heatmap



> The heatmap visualizes correlations between numerical features, helping to identify relationships that may influence survival.

Survival by class



> A bar plot shows how survival rates vary by passenger class, highlighting the impact of socio-economic status.

Survival based on fare



> A box plot illustrates how fares correlate with survival, indicating whether higher fare passengers had better survival chances.

# Feature Engineering



> New features family_size (number of siblings/spouses and parents/children) and is_alone (binary indicator if the passenger was alone) are added to provide more insights.

# Additional Data Visualizations

Survival rate by family size



> A bar plot shows how the number of family members affects the likelihood of survival.

Distribution of passengers by embark town



> A count plot to see where most passengers boarded, helping to understand the demographics of the Titanic passengers.

Survival rate by embark town



> A bar plot shows survival rates by embarkation town, suggesting geographical differences in survival chances.

Age distribution by passenger class



> A violin plot shows the distribution of ages within each passenger class, indicating differences in age demographics among classes.

Fare distribution by passenger class



> This box plot shows how fares varied among passenger classes, indicating economic differences in ticket pricing.

# Summary of Analysis